.label__login{
    margin-top: 1rem;
    font-weight: bold;
}
.label__login--foto:hover{
    cursor: pointer;
}
@media  screen and (max-width:767px){
    .label__login{
        margin-top: 0.5rem;
    }
}