.container_direct__mensagem{
    border: 1px solid #f5f5f5;
    margin-top: 6rem;
    margin-left: auto;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 50rem;
    height: 30rem;
    margin-right: auto;
}
.container__mensagem{
    overflow: scroll;
    overflow-x: hidden;
}

.container_mensage__mensagem{  
    border-left: 1px solid #f5f5f5;
    overflow-y: scroll;
}
.div_mensage_mensagem{
    display: flex;
    
    border-bottom: 1px solid #f5f5f5;
}
.container_inbox__mensagem{
    background-color: #f5f5f5;
    margin: 1rem 0rem;
}
.div_inbox__mensagem{
    display: flex;
    border-bottom: 1px solid;
}
