.formulario_inbox__mensagem{
    position: absolute;
    bottom: 20.3rem;
    display: flex;
    width: 38.2rem;
    height: 2rem;
}
.input_text_inbox__mensagem{
    width: 34rem;
}
.input_text_inbox__mensagem:focus{

}
.input_submit_inbox__mensagem{
    width: 3.9rem;
    background-color: white;
    border: none;
}