.formulario_inbox__mensagem{
    position: absolute;
    bottom: 1rem;
    display: flex;
    width: 39.2rem;
    height: 2rem;
}
.input_text_inbox__mensagem{
    width: 35rem;
    border: 0 none;
}
.input_text_inbox__mensagem:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.input_submit_inbox__mensagem{
    width: 3.9rem;
    background-color: white;
    border: none;
}
.input_submit_inbox__mensagem:hover{
    cursor: pointer;
}
@media  screen and (max-width:767px){
    .formulario_inbox__mensagem{
        position: absolute;
        display: flex;
        width: 70%;
        height: 2rem; 
        top: 27rem;
    }
}
@media screen and (min-width: 768px) and (max-width:1023px){
    .formulario_inbox__mensagem{
        width: 29rem;
        bottom: 4rem;
    }
}