.texto__header{
    background-color: #d1d0ca;
    border: none;
    border-radius: 5px;
    width: 35rem;
    height: 1.5rem;
}
.texto__header:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.botao__header{
    display: none;
}