.input__edita{
    margin-top: 1rem;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    
}
.input__edita--titulo{
    margin-top: 1.5rem;
}
.input__edita:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;   
}