{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div>
            {% include 'partials/header.html' %}
            <main class="main">
                {% if perfis %}
                    <div class="container__busca">
                        {% for perfil in perfis %}
                            <h3 class="titulo__busca"><a href="{% url 'perfil' perfil.pk %}">{{ perfil.nome }}</a></h3>
                        {% if postagem %}
                            <div class="container_img__busca">
                                {% for post in postagem %}
                                    <a class="link__busca" href="{% url 'visualizar_post' post.pk %}"> <img class="imagem__busca" src="{{ post.foto.url }}" alt=""></a>  
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}   
            </main>
        </div>
{% endblock %}