{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div>
            {% include 'partials/header.html' %}
            <main class="main">
                <div class="container_direct__mensagem">
                    <div class="container__mensagem">
                        <h3 class="titulo__mensagem">{{ user.perfil.nome }}</h3>
                        {% if mensagens %}
                            <ul>
                                {% for mensagem in mensagens %}
                                    <a class="link__mensagem" href="">
                                        <li class="lista__mensagem">
                                            <img class="usuario__postagem usuario__postagem--lista" src="{{ mensagem.emissario.foto.url }}" alt="">
                                            <h4 class="nome_user__mensagem">{{ mensagem.emissario.nome }}</h4>
                                        </li>
                                    </a>
                                {% endfor %}                               
                            </ul>
                        {% endif %}
                    </div>
                    <div class="container_mensage__mensagem">
                        <div class="div_mensage_mensagem">
                            <img class="usuario__postagem usuario__postagem--mensagem" src="{{ perfil.foto.url }}" alt="">
                            <h5 class="nome_user__mensagem nome_user__mensagem--mensage">{{ perfil.nome }}</h5>
                        </div>
                        {% if mensagem_inbox %}
                            {% for mensagem in mensagem_inbox %}
                                <div class="container_inbox__mensagem">
                                    <div class="div_inbox__mensagem">
                                        <h6 class="dados_inbox__mensagem">{{ mensagem.emissario.nome }}</h6>
                                        <h6 class="dados_inbox__mensagem">{{ mensagem.data }}</h6>
                                    </div>
                                    <h6 class="conteudo_inbox__mensagem">{{ mensagem.conteudo }}</h6>
                                </div>
                      
                                
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </main>
        </div>
{% endblock %}