{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div>
            {% include 'partials/header.html' %}
            <main class="main">
                <div class="container_direct__mensagem">
                    <div class="container__mensagem">
                        <h3 class="titulo__mensagem">{{ user.perfil.nome }}</h3>
                        {% if mensagens %}
                            <ul>
                                {% for mensagem in mensagens %}
                                    <a class="link__mensagem" href="{% url 'inbox' mensagem.emissario.pk %}">
                                        <li class="lista__mensagem">
                                            <img class="usuario__postagem usuario__postagem--lista" src="{{ mensagem.emissario.foto.url }}" alt="">
                                            <h4 class="nome_user__mensagem">{{ mensagem.emissario.nome }}</h4>
                                        </li>
                                    </a>
                                {% endfor %}                               
                            </ul>
                        {% endif %}
                    </div>
                    <div class="container_mensage__mensagem" id="supercontainermensagem">
                        <div class="div_mensage_mensagem">
                            <img class="usuario__postagem usuario__postagem--mensagem" src="{{ perfil.foto.url }}" alt="">
                            <h5 class="nome_user__mensagem nome_user__mensagem--mensage">{{ perfil.nome }}</h5>
                        </div>
                        <div  id="mensagemconteudo">
                            
                        </div>
                        
                    </div>
                    <form id="formulario_mensagem" class="formulario_inbox__mensagem" action="{% url 'enviar_mensagem' %}" method="post">{% csrf_token %}
                        <input id="destinatario" type="text" hidden name="" value="{{perfil.pk}}">
                        <input id="emissario" type="text" hidden name="" value="{{request.user.perfil.pk}}">
                        <input id="mensagem" class="input_text_inbox__mensagem" type="text" name="" id="" placeholder="Enviar mensagem">
                        <input id="enivar_mensagem" class="input_submit_inbox__mensagem" type="submit" value="Postar">
                    </form>
                </div>
            </main>
        </div>
        <script>
            $('#formulario_mensagem').submit(function(e){
                e.preventDefault();
                const destinatarioo = $(this).find('#destinatario').val();
                const emissarioo = $(this).find('#emissario').val();
                const mensagem = $('#mensagem').val();
                const url = $(this).attr('action');
                $.ajax({
                    type: 'POST',
                    url: url,
                    data:{
                        ide:emissarioo,
                        idd:destinatarioo,
                        mensagem_conteudo:mensagem,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function(data){
                        
                    }
                });
                mensagem.value = ''
            })
        </script>
        <script>
            setInterval(function(){
                
                $.ajax({
                    type:'GET',
                    url:'/ler_mensagem/{{perfil.pk}}',
                    success:function(resposta){
                        $("#mensagemconteudo").empty();
                        for (let mensagem in resposta.messages){ 
                            let data = resposta.messages[mensagem].data
                            
                            console.log(data)
                            let conteudo = "<div class='container_inbox__mensagem'><div class='div_inbox__mensagem'><p class='dados_inbox__mensagem'>"+resposta.messages[mensagem].emissario_nome+"</p></div><p class='conteudo_inbox__mensagem'>"+resposta.messages[mensagem].conteudo+"</p></div>"; 
                            $("#mensagemconteudo").append(conteudo) 
                            }         
                    },
                    error: function(resposta){
                    alert('An error occured')
                    }
                });
            },1000);
        </script>
{% endblock %}