{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div>
            {% include 'partials/header.html' %}
            <main class="main"> 
              
                    <div class="container__sugestoes">
                        <h3><a href="{% url 'perfil' user.perfil.pk %}"><img class="usuario__sugestoes usuario__sugestoes--user" src="{{ user.perfil.foto.url }}" alt=""></a></h3>
                        {% if perfils %} 
                            <h4 class="titulo__sugestoes">Perfis sugeridos</h4>
                            <ul>
                                {% for perfis in perfils %}     
                            
                                    <li class="lista__sugestoes"><a href="{% url 'perfil' perfis.pk %}"><img class="usuario__sugestoes" src="{{ perfis.foto.url}}" alt=""></a>
                                        <a href="{% url 'perfil' perfis.pk %}" class="link__sugestoes"><p>{{perfis.nome}}</p></a>
                                        {% if user in perfis.seguidores.all %}
                                            <a href="{% url 'seguidores' perfis.pk %}" class="link__sugestoes link__sugestoes--seguir">Não seguir</a>
                                        {% else %}
                                            <a href="{% url 'seguidores' perfis.pk %}" class="link__sugestoes link__sugestoes--seguir">Seguir</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}    
                    </div>
                
                {% if postagens %}
                    {% for post in postagens %}
                   
                        <div class="container__postagem">
                            <div class="container_usuario__postagem">
                                <a href="{% url 'perfil' post.usuario.pk %}"><img src="{{ post.usuario.foto.url }}" class="usuario__postagem" alt=""></a>
                                <a href="{% url 'perfil' post.usuario.pk %}" class="link__postagem"><h5 class="titulo__postagem">{{ post.usuario.nome }}</h5></a>
                            </div>
                            <a href="{% url 'visualizar_post' post.pk %}"><img class="imagem__postagem" src="{{post.foto.url}}" alt=""></a>
                            <ul class="ul__postagem">
                                {% if user in post.like.all %}
                                <li> <a  href="#" id="{{post.id}}" class="link__postagem--botao"> {{post.quantidade_de_like}} <img id="" class="botao__postagem" src="{% static 'imagem/silhueta-de-formato-simples-de-coracao.png' %}" alt=""></a> </li>
                                {% else %}
                                <li> <a href="#" id="{{post.id}}" class="link__postagem--botao"> {{post.quantidade_de_like}} <img id="like" class="botao__postagem" src="{% static 'imagem/coracao-branco.png' %}" alt=""></a> </li>
                                {% endif %}
                                <li> <a href="" class="link__postagem--botao"> <img class="botao__postagem" src="{% static 'imagem/balao-de-bate-papo.png' %}" alt=""></a></li>
                            
                            </ul>
                            <div class="container_descricao__postagem">
                                <h6 class="titulo__postagem--descricao">{{post.descricao}}</h6>
                            </div>
                            <form id="{{ post.id }}" class="container_comentario__postagem" action="{% url 'comentar' %}" method="post">{% csrf_token %}
                                <input  type="text" name="" hidden id="username" value="{{request.user.perfil.id}}">
                                <input class="input_texto__postagem" type="text" name="comentar" id="{{ post.id }}" placeholder="adicione um comentario">
                                <input class="input_botao__postagem" type="submit" value="Postar">
                            </form>
                        </div>

                    {% endfor %}
                {% endif %}
            </main>
        </div>
        <script>
            $('.link__postagem--botao').click(function(e){
                e.preventDefault();
                const post_id = $(this).attr('id'); 
                const like = $(this);
                $.ajax({
                    type: 'POST',
                    url: "{% url 'like' %}",
                    data: {
                        postid: post_id,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success: function (json) {
                        const resposta = json['resposta']
                        if (resposta == 'remover'){
                            like.text(json['result'])
                            like.append('<img  class="botao__postagem" src="{% static "imagem/coracao-branco.png" %}" >')
                        } else{
                            like.text(json ['result'])
                            like.append('<img id="like" class="botao__postagem" src="{% static "imagem/silhueta-de-formato-simples-de-coracao.png" %}" >')
                        }    
                        
                                      
                    },
                    error: function (xhr, errmsg, err) {

                    }
                })
                
            })
        </script>
        <script>
            $('.container_comentario__postagem').submit(function(e){
                e.preventDefault()
                const post_id = $(this).attr('id')
                const texto = $(this).find(".input_texto__postagem").val()
                const user =  $(this).find("#username").val()
                const url = $(this).attr('action')
                $.ajax({
                    type: 'POST',
                    url: url,
                    data:{
                        postid: post_id,
                        comentario: texto,
                        usuario: user,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                        
                    },
                    success: function(data){
                        alert(data)
                    }
                });
                texto.value = ''      
            });
        </script>
{% endblock %}