.texto__header{
    background-color: #d1d0ca;
    border: none;
    border-radius: 5px;
    width: 20rem;
    height: 1.5rem;
}
.texto__header:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.botao__header{
    display: none;
}
@media  screen and (min-width:320px) and (max-width:374px) {
    .texto__header{
        width: 7rem;
    }
}
@media  screen and (min-width:375px) and (max-width:424px) {
    .texto__header{
        width: 7rem;
    }
}
@media  screen and (min-width:425px) and (max-width:767px) {
    .texto__header{
        width: 10rem;
    }
}
@media  screen and (min-width:768px) and (max-width:1023px) {
    .texto__header{
        width: 15rem;
    }
}