.comentarios_feitos__postagem{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}
.comentario__postagem{
    display: flex;
    margin-bottom: 0.5rem;
}
.comentario__postagem--titulo{
    font-weight: bold;
    margin-right: 1rem;
}