.container_usuario__postagem{
    display: flex;
    padding-top: 1rem;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
@media  screen and (max-width:767px){
    .container_usuario__postagem{
        display: flex;
        padding-top: 1rem;
        border-bottom: 1px solid #f5f5f5;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }
}