{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="container__login">
            <a target="_blank" href="https://www.pexels.com/pt-br/foto/alvorecer-amanhecer-aurora-moda-3865624/" class="container_img__login" aria-label="Imagem de uma pessoa deitada">
                
            </a>
            <div class="container_form__login">
                <H1 class="Titulo__login">Thingram</H1>
                <form class="form__login" action="{% url 'cadastro' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <label class="label__login" for=""> Digite aqui o seu email</label>
                    <input class="input__login--texto" type="email" name="email" id="" placeholder="email">
                    <label class="label__login" for="">Digite aqui o nome do seu perfil</label>
                    <input class="input__login--texto" type="text" name="nome" id="" placeholder="seu perfil">
                    <label class="label__login" for="">Digite aqui a sua senha</label>
                    <input class="input__login--texto" type="password" name="senha" id="" placeholder="senha">
                    <label class="label__login" for="">Digite novamente a sua senha</label>
                    <input class="input__login--texto" type="password" name="senha2" id="" placeholder="senha">
                    <label class="label__login label__login--foto" for="foto">Adicione uma foto de perfil</label>
                    <input id="foto" type="file" accept="image/png, image/jpeg" name="foto" hidden>
                    <input class="input__login--submit" type="submit" value="Cadastrar" >
                </form>
            </div>
        </div>
{% endblock %}