{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="container__login">
            <a id="imagem_deitada"  target="_blank" href="https://www.pexels.com/pt-br/foto/alvorecer-amanhecer-aurora-moda-3865624/" class="container_img__login" aria-label="Imagem de uma pessoa deitada">
            </a>
            <img class="container_img__login--cadastro" id="imagem_cadastro" src="" alt="" hidden="True">
            <div class="container_form__login">
                {% include 'partials/alertas.html' %}
                <H1 class="Titulo__login">Thingram</H1>
                <form id="formulario_cadastro" class="form__login" action="{% url 'cadastro' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <label class="label__login" for=""> Digite aqui o seu email</label>
                    <input id="emailform" class="input__login--texto" type="email" name="email"  placeholder="email">
                    <label class="label__login" for="">Digite aqui o nome do seu perfil</label>
                    <input id="nomeform" class="input__login--texto" type="text" name="nome"  placeholder="seu perfil">
                    <label class="label__login" for="">Digite aqui a sua senha</label>
                    <input  id="senhaform" class="input__login--texto" type="password" name="senha"  placeholder="senha">
                    <label class="label__login" for="">Digite novamente a sua senha</label>
                    <input  id="senha2form" class="input__login--texto" type="password" name="senha2"  placeholder="senha">
                    <label class="label__login label__login--foto" for="foto">Adicione uma foto de perfil</label>
                    <input  id="foto" type="file" accept="image/png, image/jpeg" name="foto" hidden  >
                    <div class="divide_container__login--cadastro">
                        <h2 class="titulo__login--cadastro"><a href="{% url 'login' %}" class="link__login--cadastro">Login</a></h2>
                        <input class="input__login--submit" type="submit" value="Cadastrar" >
                    </div>
                </form>
            </div>
        </div>
        <script>
            $('#foto').change(function(){
                const imagem = this.files[0];
                if (imagem){
                    let ler_imagem = new FileReader();
                    ler_imagem.onload = function (evento){
                        $('#imagem_cadastro').attr('src', evento.target.result)
                        $('#imagem_cadastro').removeAttr('hidden')
                        $('#imagem_deitada').prop('hidden', true)
                    }
                    ler_imagem.readAsDataURL(imagem)
                }
            })      
        </script>
{% endblock %}