{% load custom_tags %}
{% load static %}
<header class="header__header">
    <ul class="container__header">
        <a href="{% url 'index' %}" class="link__header"><li class="titulo__header"><h1>Thingram</h1></li></a>
        <li class="lista__header">
            <form id="formulario_busca" action="{% url 'busca' %}">
                <input class="texto__header" type="text" name="busca" id="buscar" placeholder="Busque um perfil">{% csrf_token %}
                
            </form>
            <div id="esconder" hidden>
                <div id="container__header" class="container_pesquisa__header">
                   
                </div>
            </div>
        </li>
        <div class="div__header">
            <li><h2><a href="{% url 'postar' user.perfil.pk %} "><img class="icone__header" src="{% static 'imagem/postagem-no-instagram.png' %}" alt=""></a></h2></li>
            <li><h2><a href="{% url 'index' %}"><img class="icone__header" src="{% static 'imagem/casa.png' %}" alt=""></a></h2></li>
            <li><h2><a href="{% url 'mensagem' %}"><img class="icone__header" src="{% static 'imagem/balao-de-bate-papo.png' %}" alt=""></a></h2></li>
            {% ver_notificacao %}
            <li onclick="abrirLogout()"><h2><img class=" icone__header icone__header--perfil" src="{% static 'imagem/usuario-de-perfil.png' %}" alt=""></h2></li>
            <div id="container_logout__header" class="container_log__header">
                <h2 class="logout__header"><a href="{% url 'perfil' user.perfil.pk %}" class="link__header">Perfil</a></h2>
                <h2 class="logout__header"><a href="{% url 'edita_perfil' user.perfil.pk %}" class="link__header">Editar perfil</a></h2>
                <h2 class="logout__header"><a href="{% url 'logout' %}" class="link__header">Logout</a></h2>
            </div> 
            <li><h2><img class=" icone_menu__header" src="{% static 'imagem/botao-de-menu.png' %}" alt=""></h2></li>
            <div class="container_menu__header">
                <h2 class="logout__header"><a class="link__header" href="{% url 'perfil' user.perfil.pk %}">Perfil</a></h2>
                <h2 class="logout__header"><a class="link__header" href="{% url 'edita_perfil' user.perfil.pk %}">Editar perfil</a></h2>
                <h2 class="logout__header"><a class="link__header" href="{% url 'mensagem' %}">Mensagem</a></h2>
                <h2 class="logout__header"><a class="link__header" href="{% url 'postar' user.perfil.pk %}">Postar</a></h2>
                <h2 class="logout__header"><a class="link__header" href="{% url 'logout' %}">Logout</a></h2>
            </div>
        </div>
    </ul> 
   
    
    <script>
        function abrirLogout(){
            let like = document.getElementById('container_like__header');
            let logout = document.getElementById('container_logout__header');
            if (logout.className ==='container_log__header'){
                if(like.className ==='container_likes__header--ativo'){
                    like.classList.remove('container_likes__header--ativo');
                    like.classList.add('container_likes__header');
                    logout.classList.remove('container_log__header');
                    logout.classList.add('container_log__header--ativo');
                }
                else{
                    logout.classList.remove('container_log__header');
                    logout.classList.add('container_log__header--ativo');
                }
                
            }
            else{
                logout.classList.remove('container_log__header--ativo');
                logout.classList.add('container_log__header');
                
            }
        }
    </script>
    <script>
        function busca(perfil){
            $.ajax({
                type: 'POST',
                url: '{% url "busca" %}',
                data:{
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    'perfil': perfil
                },
                success: function (json){ 
                    const data = json.data
                    $('#esconder').empty()
                    if (Array.isArray(data)){
                        data.forEach(perfil=>{
                            
                            const conteudo =   "<div id='container__header' class='container_pesquisa__header'><div  class='div_pesquisa__header'><a class='link_pesquisa__header'  href='/perfil/"+perfil.pk+"'><img class='imagem__header' src="+perfil.foto+" alt=''><h5 class='titulo_pesquisa__header'>"+perfil.nome+"</h5></a> </div></div>"
                            $('#esconder').append(conteudo)
                        })
                    } else{
                        if (pesquisa.value.length > 0) {
                            esconder_div.innerHTML = '<b>'+data+'</b>'
                        } else {
                            $('#esconder').prop('hidden','true')
                        }
                    }
                }
            })
        }
    </script>   
    <script>
        const pesquisa = document.getElementById('buscar')
        const esconder_div = document.getElementById('esconder')
        pesquisa.addEventListener('keyup', e =>{
            if (esconder_div.hasAttribute('hidden')){
                esconder_div.removeAttribute('hidden')
            }
            busca(e.target.value)
        })
    </script>
    <script>
        $('#formulario_busca').keydown(function(e){
            if (e.keyCode == 13){
                e.preventDefault()
                return false
            }
        })
    </script>
</header>